@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Playfair+Display:900|Open+Sans');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}

a {
    color: rgb(28, 33, 104);
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
  }
  a:after {
    background: linear-gradient(to bottom, rgb(245, 233, 149), rgb(245, 233, 149)) center 1.08em/100% 2px no-repeat;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 400%;
    will-change: transform;
    z-index: -1;
  }
  a:hover:after {
    -webkit-animation: underline-gradient 6s linear infinite;
            animation: underline-gradient 6s linear infinite;
    background-image: linear-gradient(90deg, rgba(122, 95, 255, 0.8) 15%, rgba(1, 255, 137, 0.6) 35%, rgba(122, 95, 255, 0.8) 85%);
  }
  
  @-webkit-keyframes underline-gradient {
    0% {
      -webkit-transform: translate3d(0%, 0%, 0);
              transform: translate3d(0%, 0%, 0);
    }
    100% {
      -webkit-transform: translate3d(-75%, 0%, 0);
              transform: translate3d(-75%, 0%, 0);
    }
  }
  
  @keyframes underline-gradient {
    0% {
      -webkit-transform: translate3d(0%, 0%, 0);
              transform: translate3d(0%, 0%, 0);
    }
    100% {
      -webkit-transform: translate3d(-75%, 0%, 0);
              transform: translate3d(-75%, 0%, 0);
    }
  }
  
